.nav-item .dropdown {
    right: auto !important;
}

.nav-link {
    color: black !important;
}

.dropdown-item:active {
    background-color: white;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}